<form class="form-group" #userForm="ngForm" class="solidBorderWithPadding">
  <div>
    <label for="firstName">First Name </label>
    <input required minlength="3" [(ngModel)]="defaultName" name="firstName" #firstName="ngModel"  type="text" id="firstName" class="form-control">
    <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid"> Not valid      </div>
    <div  *ngIf="firstName.touched"> Welcome {{defaultName}}     </div>



    <label for="lastName">Last Name </label>
    <input required minlength="3" ngModel name="lastName" #lastName="ngModel"  type="text"  class="form-control">
  </div>
  <div class="alert alert-danger" *ngIf="lastName.touched && !firstName.valid">
    Not valid
  </div>
  <div>
    <label for="PhoneNum">Phone Number  </label>
    <input required minlength="11" [ngModel]="'91'" name='PhoneNum' type="text"  class="form-control">
  </div>

  <button class="btn btn-primary" type="button"[disabled]="firstName.invalid">Validation</button>
</form>
