<form class="form-group" #userForm="ngForm" (ngSubmit)="onSubmit()" class="solidBorderWithPadding" class="container" id="userForm">
  <div>
    <label for="firstName">First Name </label>
    <input required minlength="3" [(ngModel)]="defaultName" name="IDK" #firstName="ngModel"  type="text" id="firstName" class="form-control" class='form-control'>
    <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid"> Not valid      </div>
    <div  *ngIf="firstName.touched"> Welcome {{defaultName}}     </div>

    <button class="btn btn-primary" type="button"(click)='suggestUserName()'>Suggest Name</button>
    <br>

    <label for="lastName">Last Name </label>
    <input required minlength="3" ngModel name="lastName" #lastName="ngModel"  type="text"  class="form-control">
  </div>
  <div class="alert alert-danger" *ngIf="lastName.touched && !firstName.valid">
    Not valid
  </div>
  <div>
    <label for="PhoneNum">Phone Number  </label>
    <input required minlength="11" [ngModel]="'91'" name='PhoneNum' type="text"  class="form-control">
  </div>

  <div class="radio" *ngFor="let g of genders">
    <label>
      <input type="radio" name="g" ngModel [value]="g">
      {{g}}
    </label>
  </div>

  <button class="btn btn-primary" type="submit"[disabled]="firstName.invalid">Validation</button>
</form>
