<div><h1>delete this recipe-details component</h1></div>
<div class="col-xs-12">
 <h1>recipie name</h1>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Manage Recipie
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">To shopping list</a></li>
          <li><a href="#">Edit recipie</a></li>
          <li><a href="#">delete recipie</a></li>
        </ul>
    </div>
  </div>
</div>
</div>
<div class="row">
    <div class="col-xs-12">
Discription
    </div>
</div>
