<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a herf="#" class="navbar-brand">Recipie book</a>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">Recipies</a> </li>
          <li><a href="#">Shopping List</a> </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdowns" appDropDown>
            <a href="#" class="dropdown-toggle"role="button" >Manage <span class = "caret"></span></a>
          <ul class="dropdown-menu">
              <button ><li><a href="#" (click)="onClick()">save data</a> </li></button>
              <li><a href="#">fetch data</a> </li>
          </ul>
        </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
