<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form-group"  class="solidBorderWithPadding" class="container" id="userForm">
  <div>
    <label for="firstName">First Name </label>
    <input required minlength="3"  name="IDK"   type="text" formControlName="userName" id="firstName" class="form-control" class='form-control'>


<div *ngIf="signupForm.get('userName').errors">
  <div class="alert alert-success" role="alert" *ngIf="signupForm.get('userName').errors['nice_name_m8']">
    <span >Nice Name there dude (•̀ᴗ•́)و ̑̑ </span>
  </div>
</div>
    <button class="btn btn-primary" type="button">Suggest Name</button>
    <br>

    <label for="lastName">Last Name </label>
    <input required minlength="3"   type="text" formControlName="lastName" class="form-control">
  </div>

  <div>
    <label for="PhoneNum">Phone Number  </label>
    <input required minlength="11" name='PhoneNum' type="text" formControlName="PhoneNum"  class="form-control">
  </div>
  <!-- <br> -->
  <span class="alert alert-warning"
  *ngIf="!signupForm.get('PhoneNum').valid && signupForm.get('PhoneNum').touched"
  style="margin: 5px 5px 5px 5px ; padding : 5px 5px 5px 5px"> Please enter valid Phone number</span>
  <!-- <br> -->
  <div class="radio" *ngFor="let g of genders">
    <label>
      <input type="radio" name="g" formControlName="g" [value]="g">
      {{g}}
    </label>
  </div>
<div formArrayName="hobbies">
 <label>Do ya have any Hobby</label> <br>
  <button class="btn btn-primary" (click)="onAddHobby()">Yea,I have one</button>
  <div class="form-group"

  *ngFor="let hobbyControl of signupForm.get('hobbies')['controls'];let i=index ">
    <input type="text" class="form-control" [formControlName]="i">
  </div>
</div>

<br> <!-- For form submit space -->
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
